@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<head>
<style>
.para1{
    text-align:center;
    font-family:fantasy;
}

</style>

</head>
<body>
<div class="para1">
    <h1 class="display-5">Student Information site</h1>
    
</div>
</body>
</html>

